.gitattributes !filter !diff

etc/ssh/** filter=git-crypt diff=git-crypt
etc/samba/passdb.tdb filter=git-crypt diff=git-crypt
etc/apprise filter=git-crypt diff=git-crypt
passwords/** filter=git-crypt diff=git-crypt

